.container {
    z-index: 1;
    width: 100%;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 1%;
    
  }
  .content{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: top;
      margin-top: 3%;
  }
  .content_2{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
  }

  .content_down{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1%;
  }
  p {
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    font-weight: 100;
    font-style: normal;
    font-family: "Kumbh Sans", sans-serif;
    color: #2C2A2A;
    font-size: 24px;
    letter-spacing: -0.6px;
    line-height: 1.3;
  }
  a{
    font-weight: 300;
    font-style: normal;
    font-family: "Kumbh Sans", sans-serif;
    color: #E6E6E6;
    font-size: 22px;
    letter-spacing: -0.6px;
    line-height: 1.3;
    text-decoration: none;
    cursor: pointer;
  }
  a:hover{
    color: #05EBC5;
    cursor: pointer;
  }

  .span_p{
    font-weight: 200;
    font-style: normal;
    font-family: "Kumbh Sans", sans-serif;
    color: #2C2A2A;
    font-size: 22px;
    letter-spacing: -0.6px;
    line-height: 1.5;
  }
  .span_p2{
    font-weight: 200;
    font-style: normal;
    font-family: "Kumbh Sans", sans-serif;
    color: #2C2A2A;
    font-size: 22px;
    letter-spacing: -0.6px;
    line-height: 2;
  }
  .span_bold{
    font-weight: 400;
    font-style: normal;
    font-family: "Kumbh Sans", sans-serif;
    color: #383838;
    font-size: 22px;
    letter-spacing: -0.6px;
    line-height: 1.3;
  }
  .span_grey{
    font-weight: 400;
    font-style: normal;
    font-family: "Kumbh Sans", sans-serif;
    color: #E6E6E6;
    font-size: 22px;
    letter-spacing: -0.6px;
    line-height: 1.3;
  }
  .span_grey:hover{
    color: #05EBC5;
  }
  .span_red{
    font-weight: 400;
    font-style: normal;
    font-family: "Kumbh Sans", sans-serif;
    color: #FA0F3E;
    font-size: 22px;
    letter-spacing: -0.6px;
    line-height: 1.3;
    /* animation-name: textexample;
    animation-duration: 3s; */

  }
  /* @keyframes textexample {
    from {color: #FA0F3E;}
    to {color: #2C2A2A;}
  } */

  .empty{
    flex: 1 1 32%;
  }
  .textcontent {
    flex: 1 1 68%;
    white-space: pre-line;
    vertical-align: top;
  }

  .footer{
    height: 100px;
  }
  .semi_title{
    flex: 1 1 100%;
  }
  .titlecontent{
    flex: 1 1 32%;
    float: left;
  }
  .rolecontent{
    flex: 1 1 34%;
  }

  .logo_center{
    display: flex;
    align-items: center;
  }
  .datecontent{
    flex: 1 1 34%;
  }

  .work{
    margin-top: 10%;
  }

  .awards{
    margin-top: 5%;
  }
  .index{
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 700;
  font-style: normal;
  font-family: "Kumbh Sans", sans-serif;
  color: #2C2A2A;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.3;
  text-align: right;
  float: right;
  }

  .span_date{
    overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 400;
  font-style: normal;
  font-family: "Kumbh Sans", sans-serif;
  color: #2C2A2A;
  font-size: 20px;
  letter-spacing: -0.2px;
  line-height: 1.3;
  }

  .span_jobtitle{
    overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 500;
  font-style: normal;
  font-family: "Kumbh Sans", sans-serif;
  color: #2C2A2A;
  font-size: 20px;
  letter-spacing: -0.2px;
  line-height: 1.3;
  }

  .span_job{
    overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 300;
  font-style: normal;
  font-family: "Kumbh Sans", sans-serif;
  color: #2C2A2A;
  font-size: 20px;
  letter-spacing: -0.6px;
  line-height: 1.3;
  }

  .span_exp{
    overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 200;
  font-style: normal;
  font-family: "Kumbh Sans", sans-serif;
  color: #2C2A2A;
  font-size: 20px;
  letter-spacing: -0.6px;
  line-height: 2.3;
  }

  .span_awds{
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    font-weight: 400;
    font-style: normal;
    font-family: "Kumbh Sans", sans-serif;
    color: #2C2A2A;
    font-size: 20px;
    letter-spacing: -0.6px;
    line-height: 1.3;
  }
  
  .span_semititle{
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    font-weight: 700;
    font-style: normal;
    font-family: "Kumbh Sans", sans-serif;
    color: #2C2A2A;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 1.7;
    text-align: left;
  }
  .span_semititle2{
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    font-weight: 700;
    font-style: normal;
    font-family: "Kumbh Sans", sans-serif;
    color: #2C2A2A;
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: left;
  }
  .span_italics{
      overflow: hidden;
      white-space: pre-wrap;
      word-wrap: break-word;
      word-break: break-word;
      font-weight: 300;
      font-style: italic;
      font-family: "Kumbh Sans", sans-serif;
      color: #858585;
      font-size: 24px;
      letter-spacing: -1.2px;
      line-height: 0;
  }

  .hr{
    margin: auto 20px;
    border: 1.5px solid rgb(150, 150, 150);
  }

  .edu{
    margin-top: 5%;
  }
  .awards{
    margin-top: 5%;
  }

  .img_logo{
    width: 10%;
  }
  .work{
    display: inline-block;
  }

  .img_logo_2{
    width: 17%;
  }
  .img_logo_3{
    width: 5%;
  }
  .img_logo_4{
    width: 7%;
  }
  .award{
    margin-right: 1%;
  }
  /* .topwork_1{
    flex: 1 1 33%;
    cursor: pointer;
  }
  .topwork_2{
    flex: 1 1 33%;
    cursor: pointer;
  }
  .topwork_3{
    flex: 1 1 33%;
    cursor: pointer;
  } */

