.semititle{
    overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 700;
  font-style: normal;
  font-family: "Kumbh Sans", sans-serif;
  color: #3e4639;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: right;
}
.work_semititle{
    display: flex;
    align-items: center;
    margin-top: 5%;
    z-index: 1;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}
.line{
    flex: 1 1 68%;
}
.linetext{
    flex: 1 1 32%;
}
hr{
    border-top: 1px solid black;
    width: 100%;
}