.container_semititle{
    padding-top: 5%;
    padding-bottom: 3%;
  }
  .container_keycomponent{
    display: flex;
    padding-top: 2%;
    padding-bottom: 3%;
  }
  .more{
    /* overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word; */
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-family: "Kumbh Sans", sans-serif;
  color: #3e4639;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.5;

}