* {
  box-sizing: border-box;
  margin: 0;
  /* background: #538A2E; */
  padding: 0;
  font-family: 'Abhaya Libre', serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

